.form-box
{
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #52663D;
    border-radius: 5%;
    padding: 1.5rem;

    background-color: #BDEA8C;
}

.button
{
    background-color: #43661F;
    transition-duration: 0.5s;
}

.button:hover
{
    background-color: #52663D;
    border: 1px solid var(--bs-dark);
}