body 
{
    background-color: #BDEA8C;
}

#navbar
{
    background-color: #98E645;
}

.paragraph 
{
    text-align: justify;
    padding-right: 1rem;
}

.link
{
    text-decoration-color: var(--bs-dark);
}