*
{
    font-family: 'Josefin Sans', sans-serif;
}

body 
{
    background-color: #BDEA8C;
    padding-bottom: 70px;
}

#navbar
{
    background-color: #98E645;
}

.paragraph 
{
    text-align: justify;
    padding-right: 1rem;
}

.link
{
    text-decoration-color: var(--bs-dark);
}

#footer
{
    background-color: #52663D;
}
