{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/glider/glider.min.css">
{% endblock %}

{% block script %}
    <script defer src="../static/glider/glider.min.js"></script>
    <script defer src="../static/js/carousel-index.js"></script>
{% endblock %}

{% block body %}
    <section class="container my-4">
        <div class="paragraph">
            <h1>O Turitiba</h1>
            <p class="text-wrap ps-4">
                Algumas vezes, na internet, é difícil encontrar pontos tuŕisticos de uma cidade, principalmente com tantos lugares na internet,
                alguns com mecanismos ineficientes de ranqueamento e amostragem. É justamente por isso que surgiu o Turitiba!
            </p>
            <p class="text-wrap ps-4">
                Aqui, teremos muitos pontos turísticos de Curitiba, entre parques, museus, praças, dentre outros, onde será possível filtrar eficientemente 
                e verificar avaliações de outros usuários!
            </p>
        </div>
    </section>
    <section class="container my-4 p-4" id="carousel-frame">
        <h2 class="h3">
            Lugares mais famosos
        </h2>
        <article class="glider-contain">
            <div class="glider text-light" id="carousel">
                {% for location in sample %}
                    <a class="p-1 text-decoration-none" href="/location/{{ location.route }}">
                        <figure>
                            <img src="{{ location.path }}" alt="{{ location.name }}" width="600" height="300">
                        </figure>
                        <h5 class="text-dark">{{ location.name }}</h5>
                    </a>
                {% endfor %}
            </div>
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </article>
    </section>
{% endblock %}
