{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/glider/glider.min.css">
    <link rel="stylesheet" href="../static/css/location.css">
{% endblock %}

{% block script %}
    <script defer src="../static/glider/glider.min.js"></script>
    <script defer src="../static/js/carousel-location.js"></script>
    <script defer src="../static/js/heart-script.js"></script>
{% endblock %}

{% block body %}
    <section class="container my-4">
        <div class="d-flex justify-content-between">
            <h1>{{ data.name }}</h1>
            <div  class="d-flex">
                <div id="heart">
                    {% if user_has_liked %}
                        <i class="fa-solid fa-heart"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </div>
                <span id="likes">{{ data.likes }}</span>
            </div>
        </div>
        <section>
            <article class="glider-contain p-4" id="carousel-frame">
                <div class="glider">
                    {% for path in data.photos %}
                        <div class="p-1">
                            <figure>
                                <img src="{{ path }}" alt="{{ data.name }}" width="500" height="400">
                            </figure>
                        </div>
                    {% endfor %}
                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </article>
            <section class="mt-4">
                <article class="container row">
                    <ul class="col">
                        <li>
                            <h3>Descrição:</h3>
                            {{ data.description }}
                        </li>
                    </ul>
                    <ul class="col">
                        <li>
                            <h3>Endereço:</h3>
                            {{ data.maps_link }}
                        </li>
                        <br>
                        <li>
                            <h3>Saiba mais:</h3>
                            {{ data.info }}
                        </li>
                        <br>
                    </ul>
                </article>
            </section>
        </section>
        <section class="container">
            <form action="/comment/{{ data.route }}" method="POST">
                <div class="mb-1 form-group">
                    <input type="text" class="form-control" id="comment" name="comment" aria-describedby="comment"
                    placeholder="Deixe aqui seu comentário sobre {{ data.name }}!" autocomplete="off">
                </div>
                <div class="mb-4 form-group">
                    <input type="submit" class="btn btn-primary" value="Fazer comentário">
                </div>
            </form>
        </section>
    </section>
{% endblock body %}