{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="../static/glider/glider.min.css">
    <link rel="stylesheet" href="../static/css/location.css">
{% endblock %}

{% block script %}
    <script defer src="../static/glider/glider.min.js"></script>
    <script defer src="../static/js/carousel-location.js"></script>
    <script defer src="../static/js/heart-script.js"></script>
{% endblock %}

{% block body %}
    <section class="container my-4">
        <div class="d-flex justify-content-between">
            <h1>{{ data.name }}</h1>
            <div  class="d-flex">
                <div id="heart">
                    {% if user_has_liked %}
                        <i class="fa-solid fa-heart"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </div>
                <span id="likes">{{ data.likes }}</span>
            </div>
        </div>
        <section>
            <article class="glider-contain p-4" id="carousel-frame">
                <div class="glider">
                    {% for path in data.photos %}
                        <div class="p-1">
                            <figure>
                                <img src="{{ path }}" alt="{{ data.name }}" width="500" height="400">
                            </figure>
                        </div>
                    {% endfor %}
                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </article>
            <section class="mt-4">
                <ul>
                    <li>    
                        <h3>Descrição:</h3>
                    </li>
                    {{ data.description}}
                    <br>
                    <li>
                        <h3>Endereço:</h3>
                    </li>
                    {{ data.maps_link }}
                    <br>
                    <li>
                        <h3>Saiba mais:</h3>
                    </li>
                    {{ data.info }}
                    <br>
                </ul>
            </section>
        </section>
    </section>
{% endblock body %}